
@media screen and (max-width: 2400px) and (min-width: 701px){
    body{
        background-image: linear-gradient( rgb(125, 247, 227), rgb(13, 83, 83));
        height: 1500px;
    }
    
    .Projecten{
        width: 800px;
        height: 800px;
        display: grid;
        gap: 10px;
        border: 1px solid black;
        grid-template-columns: 2fr 2fr;

    }
    header div{
        font-size: 25px;
        color: darkred;
    }
    
    .One{
        content: url("../IMG/hoger\ lager.png");
    }
    .Two{
        content: url("../IMG/card\ flip.png");
    }
    .Three{
        content: url("../IMG/ReviewYourExperience.png");
        max-width: 500px;
        max-height: 500px;
    }
    .Four{
    }
    .Five{
    }
    .Six{
    }
    .Seven{
    }
    .Eight{
    }
    .Nine{
    }
}
@media screen and (max-width: 700px){
    body{
        background-image: linear-gradient( rgb(125, 247, 227), rgb(13, 83, 83));
        height: 2000px;
    }
    
    #Projecten{
        width: 800px;
        height: 800px;
        display: grid;
        gap: 10px;
        border: 1px solid black;
    }
    header div{
        font-size: 25px;
        color: darkred;
    }
    
    .One{
        content: url("../IMG/hoger\ lager.png");
    }
    .Two{
       content: url("../IMG/card\ flip.png");
    }
    .Three{
        content: url("../IMG/ReviewYourExperience.png");
        max-width:  300px;
        max-height: 400px;
    }
    .Four{
    }
    .Five{
    }
    .Six{
    }
    .Seven{
    }
    .Eight{
    }
    .Nine{
    }
    
    footer img{
        position: absolute;
        right: 50px;
        top: 1300px;
        width: 400px;
        height: 600px;
    }
    footer p{
        position: absolute;
        right: 100px;
        top: 1250px;
        width: 300px;
}
}